@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}
/* **********************************************************************************

                                Header

   **********************************************************************************        
 */

.title-section {
  background-color: #f9f7f1;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#title-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 90px;
  position: relative;
  background-color: #f9f7f1;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  width: 50%;
}
.links {
  height: auto;
  display: flex;
  flex-direction: row;
}

.links li {
  list-style: none;
  margin: 0 15px;
}

.links li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 8px;
}
.links li a:hover {
  color: #6200b3;
}

.btn-1,
.btn-2 {
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  outline: none;
  border: none;
  width: 100px;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn-1 {
  background-color: transparent;
}
.btn-1:hover {
  background-color: #240046;
  color: white;
}

.btn-2 {
  background-color: #6200b3;
  color: white;
}
.btn-2:hover {
  background-color: #240046;
}
.items {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.text-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 100%;
}
.text-items article {
  display: flex;
  height: 50%;
  justify-content: space-around;
  flex-direction: column;
}
.text-items p {
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 500;
}
.text-items p i {
  color: goldenrod;
}
.text-items h1 {
  font-weight: 800;
  font-size: 65px;
}
#btn-item {
  width: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
}
#btn-item a {
  font-size: 18px;
  font-weight: 600;
  color: #6200b3;
}
#btn-item a:hover {
  color: #240046;
}
.btn-3 {
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  outline: none;
  border: none;
  width: 150px;
  height: 45px;
  cursor: pointer;
  margin-right: 35px;
  transition: all 0.2s ease;
  background-color: #6200b3;
  color: white;
}
.btn-3:hover {
  background-color: #240046;
}
.image-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.image-item img {
  width: 100%;
  height: 100%;
}
#checks {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
#checks p {
  margin-right: 30px;
}
#checks p i {
  color: green;
}
#nav-toggle {
  display: none;
}

/* **********************************************************************************

                             Second - section

   **********************************************************************************        
 */

.second-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#second-section-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 50px 0;
}
#second-section-title h1 {
  font-size: 50px;
  margin: 15px 30px 0;
}
#second-section-title p {
  color: #6200b3;
  font-size: 18px;
  font-weight: 700;
  margin: 15px 30px 0;
}
#second-section-items {
  margin-top: 50px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#item-one {
  margin-left: 30px;
}

#item-three {
  margin-right: 30px;
}
#item-one h4,
#item-two h4,
#item-three h4 {
  margin: 10px 0;
}
#item-one p,
#item-two p,
#item-three p {
  font-size: 16px;
  color: #6c757d;
}
#second-section-text {
  width: 98%;
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  align-self: center;
  color: white;
  margin-top: 100px;
  background-color: #6a00f5;
}
.btn-4 {
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  outline: none;
  border: none;
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: 30px;
  color: #6200b3;
}
.btn-4:hover {
  background-color: #240046;
  color: white;
}
#section-text {
  width: 50%;
}
#section-text h1 {
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: 50px;
}
#section-text p {
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: 18px;
}
#section-image {
  width: 50%;
}
#section-image img {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}
/* **********************************************************************************

                            review - section

   **********************************************************************************        
 */
.review-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
#review-items {
  height: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
}
#review-header {
  width: 100%;
  display: flex;
  margin-top: 10px;
  flex-direction: row;
}
.names-salary {
  width: 80%;
}

#review-header img {
  width: 45px;
  height: 45px;
  margin: 5px 15px;
}
.names-salary h3 {
  color: #6a00f5;
}
.names-salary p {
  font-size: 16px;
  font-weight: 700;
}
#review-comment {
  font-size: 18px;
  padding: 0 20px;
  margin: 30px 0;
}
#review-btn {
  margin: 10px 0;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  outline: none;
  border: 1px solid lightgray;
  width: 80%;
  height: 40px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #6200b3;
  background-color: white;
}
#review-btn:hover {
  background-color: #6200b3;
  color: white;
}
#prev-btn,
#next-btn {
  margin: 0 15px;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 99px;
  cursor: pointer;
  background-color: white;
}
#prev-btn:hover,
#next-btn:hover {
  background-color: #6200b3;
  color: white;
}

/* **********************************************************************************

                               Media Quries: 915px

   **********************************************************************************        
 */

@media screen and (max-width: 915px) {
  .title-section {
    height: auto;
  }
  header {
    justify-content: space-between;
  }
  header h1 {
    margin-left: 30px;
  }

  .links {
    height: 0;
    overflow: hidden;
    display: none;
  }
  .show-links {
    border-top: 4px solid #6200b3;
    border-bottom: 4px solid #6200b3;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 0;
    right: 90px;
    display: flex;
    height: 17rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  #nav-toggle {
    margin-right: 20px;
    display: flex;
    margin-left: auto;
  }
  #btns {
    display: none;
  }
  .items {
    flex-direction: column-reverse;
  }
  .image-item {
    width: 90%;
    height: auto;
    margin: 40px 0;
  }
  .image-item img {
    width: 50%;
    height: 50%;
  }
  .text-items {
    width: 100%;
  }
  .text-items h1 {
    font-size: 55px;
  }
  #second-section-items {
    width: 100%;
    flex-direction: column;
  }
  #item-one,
  #item-two,
  #item-three {
    margin: 40px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #second-section-title {
    text-align: center;
    align-items: center;
    margin: 30px 0;
  }
  #review-items {
    width: 40%;
  }
}
/* **********************************************************************************

                               Media Quries: 768px

   **********************************************************************************        
 */
@media screen and (max-width: 768px) {
  #second-section-text {
    text-align: center;
    flex-direction: column;
  }
  #section-text {
    width: 100%;
  }
  #section-text h1 {
    margin: 20px 30px;
    text-align: left;
  }
  #section-text p {
    margin: 20px 30px;
    text-align: left;
  }
  #section-image {
    width: 100%;
  }
  #section-image img {
    width: 80%;
    height: 80%;
  }
  .btn-4 {
    width: 90%;
    margin: 0;
  }
  #review-items {
    width: 60%;
  }
}
/* **********************************************************************************

                               Media Quries: 550px

   **********************************************************************************        
 */

@media screen and (max-width: 550px) {
  .text-items h1 {
    font-size: 45px;
  }
  .text-items article h1,
  .text-items article p {
    margin-left: 15px;
  }
  #checks {
    width: 100%;
    align-items: flex-start;
    margin-top: 20px;
    flex-direction: column;
  }
  #checks p {
    margin-right: 0;
  }
  #btn-item {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn-3 {
    width: 100%;
    height: 45px;
    cursor: pointer;
    margin: 20px 0;
  }
  .btn-3:hover {
    background-color: #240046;
  }
  .image-item img {
    width: 100%;
    height: 100%;
  }
  #second-section-title h1 {
    font-size: 35px;
  }
  #section-text h1 {
    margin-left: 30px;
    text-align: left;
    font-size: 35px;
  }
  #section-text p {
    margin: 20px 30px;
    text-align: left;
  }
  #review-items {
    width: 100%;
  }
  #review-comment {
    font-size: 16px;
  }
}
@media screen and (max-width: 425px) {
  #review-comment {
    font-size: 14px;
  }
  .names-salary p {
    font-size: 14px;
    font-weight: 700;
  }
  #review-btn {
    font-size: 14px;
  }
}
